<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.question.QuestionDao">

 

    <insert id="addQuestion" parameterType="Map">
           insert into question(question_id,user_id,title,content)
            values(0,#{user_id},#{title},#{content})
    </insert>
    
    <delete id="questionBoard" parameterType="int">
		delete from users where no = #{no}
	</delete>
     

	
	<select id="idSelect" resultType="com.app.dto.UserDTO" parameterType="string">
			select user_id from users where id like #{id}
	</select>
	
	
</mapper>  