<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.property.dao.SearchDetailDAO">

	<select id="getDetail"
		resultType="com.app.property.dto.PropertyDetailDTO">
		SELECT
		address,
		pname,
		price,
		deposit,
		feet,
		property_id,
		floor,
		charge,
		count,
		registration_date,
		description,
		p_service_type
		FROM property

		UNION ALL

		SELECT
		address,
		pname,
		price,
		deposit,
		feet,
		property_service_id,
		floor,
		charge,
		count,
		registration_date,
		description,
		ps_service_type
		FROM property_service
	</select>

</mapper>
