<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.property.dao.SearchAllDAO">

	<!-- 전체 데이터 keyword 조회 쿼리 -->
	<select id="getAllProperties"
		resultType="com.app.property.dto.PropertyResultDTO">
		SELECT
		p.pname,
		p.property_id,
		NULL AS property_service_id,
		p.p_service_type,
		NULL AS ps_service_type,
		p.price,
		p.property_type_id,
		NULL AS private_property,
		NULL AS confirm_check
		FROM
		property p
		WHERE
		p.pname LIKE
		CONCAT('%', #{keyword},'%')

		UNION ALL

		SELECT
		ps.pname,
		NULL AS
		property_id,
		ps.property_service_id,
		NULL AS p_service_type,
		ps.ps_service_type,
		ps.price,
		ps.property_type_id,
		ps.private_property,
		c.confirm_check
		FROM property_service ps
		LEFT JOIN confirm c ON
		ps.property_service_id = c.property_service_id
		WHERE ps.pname LIKE
		CONCAT('%', #{keyword}, '%') AND c.confirm_check = 1
	</select>

	<!-- 서비스 매물 상세 정보 -->
	<select id="getpsDetail"
		resultType="com.app.property.dto.PropertyDetailDTO">
		SELECT
		address,
		pname,
		price,
		deposit,
		feet,
		property_service_id,
		floor,
		charge,
		count,
		registration_date,
		description,
		ps_service_type,
		telephone,
		month_price,
		property_type_id
		FROM
		property_service
		WHERE
		ps_service_type =
		#{psServiceType} AND
		property_service_id =
		#{propertyId}
	</select>

	<!-- 크롤링 매물 상세 정보 -->
	<select id="getpDetail"
		resultType="com.app.property.dto.PropertyDetailDTO">
		SELECT
		address,
		pname,
		price,
		deposit,
		feet,
		property_id,
		floor,
		charge,
		count,
		registration_date,
		description,
		p_service_type,
		telephone,
		month_price,
		property_type_id
		FROM
		property
		WHERE p_service_type =
		#{pServiceType} AND
		property_id = #{propertyId}
	</select>

	<!-- Property 매물 정보 -->
	<select id="getProperties" resultType="com.app.dto.PropertyDTO">
		SELECT
		property_id,
		p_service_type,
		user_id,
		property_type_id,
		price,
		feet,
		pname,
		deposit,
		charge,
		count,
		registration_date,
		move_date,
		address,
		description,
		floor
		FROM property
	</select>

	<!-- PropertyService 매물 정보 -->
	<select id="getServiceProperties"
		resultType="com.app.dto.PropertyServiceDTO">
		SELECT
		ps.property_service_id,
		ps.ps_service_type,
		ps.user_id,
		ps.property_type_id,
		ps.price,
		ps.feet,
		ps.pname,
		ps.deposit,
		ps.charge,
		ps.count,
		ps.registration_date,
		ps.move_date,
		ps.address,
		ps.description,
		ps.floor,
		ps.private_property,
		c.confirm_check
		FROM
		property_service ps
		LEFT JOIN confirm c ON ps.property_service_id =
		c.property_service_id
		WHERE c.confirm_check = 1
	</select>


	<!-- 다중 이미지 -->
	<select id="AllImages" resultType="com.app.dto.ImagesDTO">
		select property_id ,
		property_service_id , ps_service_type ,
		p_service_type , filename ,
		filepath from images WHERE (p_service_type=#{ServiceType} AND
		property_id=#{Id}) or (ps_service_type=#{ServiceType} AND
		property_service_id=#{Id})
	</select>

	<!-- 썸네일 -->
	<select id="getImage" resultType="com.app.dto.ImagesDTO">
		SELECT
		property_id,
		property_service_id,
		filename,
		filepath,
		p_service_type,
		ps_service_type
		FROM (
		SELECT
		property_id,
		property_service_id,
		filename,
		filepath,
		p_service_type,
		ps_service_type,
		ROW_NUMBER() OVER(PARTITION BY
		property_service_id ORDER BY image_id) as
		img_sequence
		FROM images
		) AS
		img
		WHERE img.img_sequence = 1 and
		property_service_id=#{id1} and
		ps_service_type=#{id2}
	</select>

	<!-- 실거래가 -->
	<select id="getTransaction"
		resultType="com.app.dto.TransactionPriceDTO">
		SELECT
		property_type_id,
		regional_cd,
		dong,
		jibun,
		apartment_name,
		floor,
		deal_amount,
		deal_year,
		deal_month,
		deal_day,
		transaction_price_id
		FROM transaction_price
		WHERE  dong LIKE CONCAT('%', #{address}, '%')
		AND apartment_name LIKE CONCAT('%', #{keyword}, '%')
	</select>
</mapper>
