<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.property.dao.SearchDetailDAO">

	<select id="getDetail"
		resultType="com.app.property.dto.PropertyDetailDTO">
		SELECT
		address,
		pname,
		price,
		deposit,
		feet,
		floor,
		charge,
		count,
		registration_date,
		description
		FROM property
		WHERE pname LIKE CONCAT('%', #{keyword}, '%')

		UNION ALL

		SELECT
		address,
		pname,
		price,
		deposit,
		feet,
		floor,
		charge,
		count,
		registration_date,
		description
		FROM property_service
		WHERE pname LIKE CONCAT('%', #{keyword}, '%')
	</select>
</mapper>
